.panda-card{
    border: 0!important;
}
.panda-card-footer{
    background-color: #fdfbfb77 !important;
    border: 0;
}
.categories img{
    width: 100px;
}
.panda-slide .carousel-item{
    background-color: hsl(300, 45%, 89%);
    border-radius: 1em;
}